.Insurance-main-div{
    background-color: rgb(240, 238, 238);
    text-align: center;
    padding: 45px 100px;
    max-height: fit-content;
}

.Insurance-main-div img{
    margin:10px;
}

.container{
    width: 70%;
}

.information{
    display: flex;
    justify-content: space-around;
    padding: 10px 90px;
}

.docrisinginfo{
    background-color:rgb(107, 225, 229);
    padding: 10px;
    color: white;
    height: 300px;
    min-width:30%;
}

.docrisinginfo img{
    height: 50px;
    max-width: fit-content;
    margin-bottom: 10px;
}