.main-div-exp{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.main-div-exp-docs{
    text-align: center;
    align-items: center;
    flex-basis: 50%;
}

.main-div-exp img{
    max-width:22%;
    max-height:30%;
    margin-left: 1em;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 50%;
}

button{
    color:white;
border: none;
font-size: 15px;
background-color: rgb(59, 218, 223);
border-radius: 12px;
padding: 7px 10px 10px 10px;
}

button:hover{
    background-color:rgb(72, 165, 168) ;

}