*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.paymentform-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background: linear-gradient(90deg,#2ec771 60%, #27ae60 40.1%);
    padding-bottom: 70px;
}

.paymentform-container form{ 
    padding: 20px;
    width:700px;
    background: #fff;
    height: fit-content;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.paymentform-container form .paymentform-row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}

.paymentform-container form .paymentform-row .paymentform-col{
    flex: 1 1 250px;
}

.paymentform-container form .paymentform-row .paymentform-col .paymentform-title{
    font-size: 20px;
    color:#333;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.paymentform-container form .paymentform-row .paymentform-col .paymentform-inputBox{
    margin: 15px 0;
}

.paymentform-container form .paymentform-row .paymentform-col .paymentform-inputBox span{
    margin-bottom: 10px;
    display: block;
}

.paymentform-container form .paymentform-row .paymentform-col .paymentform-inputBox input{
    width: 100%;
    border:1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

.paymentform-container form .paymentform-row .paymentform-col .paymentform-inputBox input:focus{
    border: 1px solid #000;
}

.paymentform-container form .paymentform-row .paymentform-col .paymentform-flex{
    display: flex;
    gap:15px;    
}

.paymentform-container form .paymentform-row .paymentform-col .paymentform-flex .paymentform-inputBox{
    margin-top: 5px;
}

.paymentform-container form .paymentform-row .paymentform-col .paymentform-inputBox img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);    
}

.paymentform-container form .paymentform-submit-btn{
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #27ae60;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
}

.paymentform-container form .paymentform-submit-btn:hover{
    background: #2ec771;

}

